# Onboard clock
set_io i_clk 35

set_io o_done	        27

set_io o_uart_tx	9
set_io i_uart_rx	6

set_io  o_qspi_csn  16
set_io  o_qspi_sck   15
set_io io_qspi_dat[0]   14
set_io io_qspi_dat[1]    17
set_io io_qspi_dat[2]    12
set_io io_qspi_dat[3]    13




