# Onboard clock
set_io clk 129

set_io o_done	        71

set_io o_uart_tx	85
set_io i_uart_rx	88

set_io  o_qspi_csn  105
set_io  o_qspi_sck   97
set_io io_qspi[0]   102
set_io io_qspi[1]    99
set_io io_qspi[2]    98
set_io io_qspi[3]    96




